.heading p
{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    margin: 2% 0 0 22%;
    font-size: 140%;
    
}
.heading h1:first-of-type{
    margin: 0 0 0 22%;
    font-family: 'Montserrat', sans-serif;
    font-size: 330%;
    font-weight: 500;

}
.heading h1:nth-last-of-type(1){
    margin: 0 0 0 22%; 
    color:#EFCA53;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 330%; 
}
.announcement{
    margin: 0 0  0 25%;
    height: 20px;
    padding: 2%;
    display: inline-block;
    
}
.text{
    
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin: 15% 10% 0 20%;
    height: 10%;
    width: 60%;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 2%;
    text-align: center;
}

.backg{
    background-image: url('../../images/darkbg.png');
    background-repeat: no-repeat;
    background-position: 50% -20%;
    background-size: 55% 60%;
    animation-name: movebg;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction:alternate-reverse;
    

}
.dark{
    color:white;
    background-color: black;
    background-image: url('../../images/lightbg.png');
}



@keyframes movebg{
    0% {background-position: 50% -20%;}
    50% {background-position: 50% 0% }
    100% {background-position: 50% -20% }
}


@media(max-width:600px){
    .heading{
        font-size: 70%;
        padding-top: 10%;
    }
    .text{
        font-size: 60%;
        margin: 30% 5% 4% 15%;

    }
    .backg{
        background-size: 60% 57% ;
        animation-name: movebg;
        background-image: url('../../images/Landing_bg_mobile_light.png');
       
    }
    
    

}
@media (max-width: 450px) {
    .heading {
        font-size: 55%;
        padding-top: 17%;
        margin-left: -7%;
    
      
     }
    .text{
        font-size: 58%;
        height: 20%;
        width: 70%;
        margin-bottom: 10%;
        
        
    }
    .backg{
        background-size: 65% 50% ;
        animation-name: movebg;
        background-image: url('../../images/Landing_bg_mobile_light.png');
       
    }
    .dark{
        background-image: url('../../images/Landing_bg_mobile_dark.png');
    }
   
    
    
   
}   

@media (min-width: 1100px) {
    .heading {
        font-size: 24px;
       padding-top: 5px;
        
       }
    .text{
        font-size: 14px;
        margin: 5% 20% 5% 20%;
        width: 50%;
        
    }
    .backg{
        background-size: 50% 72% ;
        
    }
    
     
    }
.home{
    position: relative;
    margin-top: 0;
    padding-top:5%;
    height: 100vh;
   
}
/* Button styling */
.btn{
    background-color: transparent;
    border: none;
    padding-left: 2rem; 
    position:absolute;
    bottom: 80px;
   
    left:0;
}
.btn .arrow{
   
height: auto;
width: 30px;

}
.btn{
    outline: none;
}
.btn:hover{
    cursor: pointer;
}



