.heading {
  padding-top: 15px;
  /* border: solid 1px white; */
  margin-bottom: 15%;
  /* margin-top: 5% !important; */
}

.heading p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 2% 0 0 22%;
  font-size: 130%;
}

/* .heading h1:first-of-type {
  margin: 0 0 0 22%;
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
  font-weight: 600;
} */
.heading h1{
  margin: 0 0 0 24%;
  font-family: "Montserrat", sans-serif;
  font-size: 270%;
  font-weight: 600;
}

/* .heading h1:nth-last-of-type(1) {
  margin: 0 0 0 22%;
  color: #efca53;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 250%;
} */

.caption
{
  color:#efca53;;
}

.announcementOuter {
  border: black;
  text-align: center;
  min-height: 5% !important;
  /* margin-top: 10% !important; */
  /* border: solid 1px white; */
  /* position: relative; */
}

.text {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin: 10% 10% 0 20%;
  height: 10%;
  width: 60%;
  /* text-transform: uppercase; */
  font-weight: 500;
  padding-top: 2%;
  text-align: justify;
}

.backg {
  background-image: url("../../images/darkbg.png");
  background-color: #e9e7e9;
  background-repeat: no-repeat;
  background-position: 50% -35%;
  /* background-size: 65% 57.8%; */
  animation-name: movebg;
  animation-duration: 1.75s;
  background-size: auto;
  /* animation-iteration-count: 2; */
  /* animation-direction: alternate-reverse; */
}

.dark {
  color: #e9e7e9;
  background-color: #000000;
  background-image: url("../../images/lightbg.png");
}

@keyframes movebg {
  0% {
    background-position: 50% -50%;
  }
  25% {
    background-position: 50% -17.5%;
  }
  50% {
    background-position: 50% -50%;
  }
  75% {
    background-position: 50% -17.5%;
  }
  100% {
    background-position: 50% -35%;
  }
}

@keyframes movebgMobile {
  0% {
    background-position: 50% -40%;
  }
  25% {
    background-position: 50% 5%;
  }
  50% {
    background-position: 50% -20%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% -10%;
  }
}

/* Button styling */
.btn {
  background-color: transparent;
  border: none;
  padding-left: 2rem;
  position: absolute;
  bottom: 50px;

  left: 0;
}
.btn .arrow {
  height: auto;
  width: 30px;
}
.btn {
  outline: none;
}
.btn:hover {
  cursor: pointer;
}

@media (max-width: 320px) {
  .heading {
    font-size: 52%;
    padding-top: 20%;
    margin-left: -11%;
  }
  .text {
    font-size: 60%;
    height: 20%;
    width: 72%;
    margin: 10% 5% 0 15%;
  }

  .btn {
    bottom: 7%;
  }
  .backg {
    background-size: 92% auto;
    animation-name: movebg;
  }
}
@media (min-width: 330px) and (max-width: 600px) {
  .heading {
    font-size: 60%;
    padding-top: 70px;
    margin-left: -40px;
  }
  .text {
    font-size: 68%;
    height: 20%;
    width: 72%;
    margin: 10% 5% 0 15%;
  }
  .backg {
    background-size: 70% auto;
    background-position: 50% -10%;
    animation-name: movebgMobile;
    background-image: url("../../images/Landing_bg_mobile_light.png");
  }
  .dark {
    background-image: url("../../images/Landing_bg_mobile_dark.png");
  }

  .btn {
    bottom: 10%;
  }
  .announcementOuter {
    min-height: 25% !important;
    /* border: solid 1px black; */
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .backg
  {
    background-size: 70% auto !important;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  .backg
  {
    background-size: 60% auto !important;
  }
}
@media (min-width: 1001px) and (max-width: 1100px) {
  .backg
  {
    background-size: 55% auto !important;
  }
}
@media (min-width: 601px) and (max-width: 1250px) {
  .heading {
    font-size: 20px;
    /* margin-left: -60px;
    padding-top: 35px; */
    margin-top: 4%;
  }
  .heading h1{
    font-size: 230% !important;
  }
  .text {
    margin-top: 10%;
    font-size: 13px;
  }
  .btn {
    margin-bottom: -15px;
  }
  .backg
  {
    background-size: 70% auto;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .heading {
    font-size: 23px;
    /* margin-top: 10% !important; */
  }
  .text {
    font-size: 15px;
    margin: 2% 15% 5% 25%;
    width: 48%;
  }

}
@media (min-width: 1101px) {
  .heading {
    font-size: 23px;
    margin-top: 0;
  }
  .text {
    font-size: 18px;
    margin: 2% 15% 5% 25%;
    width: 48%;
  }
  .backg {
    background-size: 46% auto;
  }
}
/* @media(min-width:1300px){
  .backg {
    background-size: 55% 58%;
  }
  .heading{
    margin-left: -10px;
    font-size: 26px;
  }
  .text{
    font-size: 23px;
  }
} */
.home {
  position: relative;
  margin-top: 0;
  padding-top: 1%;
  height: 100vh;
}
