.card {
  max-width: 200px;
  width: 250px;
  height: 280px;
  max-height: 280px;
  text-align: center;
  padding: 10px;
  margin: 25px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.bgEffect {
  position: absolute;
  width: 490px;
  height: 260px;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-top: 24px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(8, 8, 8, 0.4);
}

.image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-top: 20px;
  display: block;
  position: absolute;
  border: 4px solid rgb(124, 121, 121);
}

.social {
  color: white;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cardBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.name {
  margin-top: 220px;
  padding: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.position {
  font-size: 1.1rem;
  width: 100%;
}

.iconButton {
  cursor: pointer;
  text-decoration: none;
  margin-right: 8px;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  color: white;
}
