.EventsMain{
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.Semi2{
    position: absolute;
    top:40px;
    left: -50px;
    transition: 0.5s;
    transform: rotateZ(-0deg);
    transform-origin: 40% 10%;
    opacity: 0.5;
    width: 100px;
}
.Active .Semi2{
    transform: rotateZ(-90deg);
}
.Semi1{
    position: absolute;
    top:40px;
    left: -50px;
    transition: 0.5s 0.1s;
    transform: rotateZ(-0deg);
    transform-origin: 40% 10%;
    width: 100px;
}
.Active .Semi1{
    transform: rotateZ(-90deg);
}
.Half1{
    position: absolute;
    top:10%;
    right:-30px;
    transform: rotateZ(-90deg);
}
.Half2{
    position: absolute;
    transform: translateY(30px);
    bottom:0%;
    left:10%;
    
}
.Middle{
    position: absolute;
    top: 100%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    width: 80%;
    height: 80%;
    transition: 1s;
}
.Active .Middle{
    top:50%;
    opacity: 1;
}
.Mirror{
    height: 70vh;
    width: 70vh;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(40px);
    filter: blur(5px);
    /* opacity: 0.5; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 50%;
    z-index: 10;
    border: 2px solid;
    border-image-source: linear-gradient(136.57deg, #FFFFFF 13.4%, rgba(255, 255, 255, 0) 91.73%);
}
.Text{
    width: 70%;
    text-align: center;
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 30;
}
.Text h3{
    font-size: 2.5em;
    margin: 10px;
    font-weight: 500;
    letter-spacing: 7px;
}
.Text h1{
    font-size: 6.5em;
    margin: 10px;
    font-weight: 700;
    transform: translateX(30px);
    transition: 1s ease-in;
}
.Active .Text h1{
    transform: translateX(0);
}
.Text div{
    font-size: 1.7em;
    margin: 10px 20px;
    font-style: italic;
}
.Text button{
    /* margin: 30px; */
    padding: 10px 30px;
    border-radius: 50px;
    border:1px solid white;
    background-color: #C4C4C4;
    outline:none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.EventsMain.Disappear{
    opacity: 0;
}
.Dot1,.Dot2{
    z-index: -100;
    opacity: 0.5;
    width: 700px;
    height: 500px;
    position: absolute;
}
.Dot1{
    top:50%;
    left:50%;
    transform: translate(calc(-50% + 25vh ),calc(-50% - 25vh));
}
.Dot2{
    top:50%;
    left:50%;
    transform: translate(calc(-50% - 25vh ),calc(-50% + 25vh));
}
.Gray{
    width: 100px;
    height: 100px;
    background-color: #C4C4C4;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    opacity: 1;
    z-index: 20;
    transform: translate(calc(-50% - 30vh),calc(-50% - 18vh + 700px));
    transition: 1s;
}
.Active .Gray{
    transform: translate(calc(-50% - 30vh),calc(-50% - 18vh));
}
.Yellow{
    width: 200px;
    height: 200px;
    background-color: #EFCA53;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(calc(-50% + 25vh ),calc(-50% + 25vh));
    opacity: 1;
    z-index: -20;
    transition: 1s;
}
.Yellow::after{
    content: '';
    width: 200px;
    height: 200px;
    background-color: #EFCA53;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    transform: translate(-25vh ,-25vh);
    opacity: 0.5;
    z-index: -20;
    transition: 1s;
}